<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h1>User List</h1>
<a th:href="@{/users/add}">Add User</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
            <a th:href="@{'/users/delete/' + ${user.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/}">Home</a>
</body>
</html> 