<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm sách mới</title>
</head>
<body>
    <h1>Thêm sách mới</h1>
    <form th:action="@{/books/add}" th:object="${book}" method="post">
        <label for="title">Tên sách:</label>
        <input type="text" id="title" th:field="*{title}" required /> <br/>
        <label for="author">Tác giả:</label>
        <input type="text" id="author" th:field="*{author}" required /> <br/>
        <button type="submit">Lưu</button>
    </form>
    <a th:href="@{/books}">Quay lại danh sách</a>
</body>
</html> 