# Ignore macOS system files
.DS_Store

# Ignore NetBeans build files
build/
nbbuild/
nbproject/private/
*.class
*.log

# Ignore user-specific NetBeans project files
private.xml
private.properties
genfiles.properties
build-impl.xml

# Ignore all compiled files
*.class
